body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 15px;
}

.header {
  text-align: center;
}

.cardImg {
  width: 100px;
  height: 65px;
  cursor: pointer;
}

.thaurissanImg {
  width: 100px;
  cursor: pointer;
}

.area {
  border: 1px solid black;
  width: 33%;
  float: left;
  height: 550px;
}

.card {
  border: 1px solid black;
  float: left;
  width: 24%;
}

.maxDamageCombo {
  border: 1px solic black;
  width: 75%;
}