body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  margin: 5vw 5vh;
}


.areas {
  display: flex;
  height: 40vh;
}

.area {
  border: 1px solid black;
  width: 33%;
  background-image: url("../public/imgs/texture.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.areaHeader {
  height: 10%;
  font-size: 2.5vh;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  height: 90%;
}

.card {
  width: 25%;
  height: 33.3333333%;
  position: relative;
}

.cardCost {
  position: absolute;
  font-size: 2vw;
  margin: 0.125vw;
  padding: 0.25vw;
  color: white;
  background-color: black;
  border-radius: 100%;
}

.cardImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.maxDamageCombo {
  border: 1px solid black;
}

.controls {
  border: 1px solid black;
}

.thaurissan {
  display: inline-block;
  height: 25%;
  margin: 5px;
}
.thaurissanImg {
  height: 100%;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid black;
}

.manaCrystal {
  width: 10%;
}