body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  margin: 15px;
}


.areas {
  display: flex;
  height: 75vh;
}

.area {
  border: 1px solid black;
  width: 33%;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 25%;
  border: 1px solid black;
  position: relative;
}

.cardCost {
  position: absolute;
  font-size: 1.5vw;
  padding: 0.25vw;
  color: white;
  background-color: black;
  border-radius: 100%;
}

.cardImg {
  width: 100%;
}